* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Inter, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template: "sidebar main" auto
                   "sidebar footer" 1fr / 1fr 4fr;
}

.sidebar {
    background: linear-gradient(#FFF 35%, #E6B596);
    grid-area: sidebar;
}

.sidebar__mobile-menu {
    color: #382118;
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    position: absolute;
    visibility: hidden;
}

.logo {
    width: 100%;
}

.navigation {
    margin: 3rem 3.5rem;
}

.navigation__list {
    list-style: url('../assets/Vector\ 7.png')''
}

.navigation__element {
    color: #382118;
    font-size: 1.5rem;
    margin-top: 1rem;
    transition: font-weight 0.3s ease;
}

.navigation__element:hover {
    font-weight: 700;
}

.navigation__radio {
    display: none;
}

.navigation__radio:checked ~ label {
    color: #D28E94;
    font-weight: 700;
}

.navigation__label {
    cursor: pointer;
}

.contact-info {
    color: #382118;
    display: grid;
    gap: 0.5rem;
    margin-left: 2rem;
}

.contact-info__phone {
    font-size: 1.5rem;
    font-weight: 700;
}

.social-media {
    color: #382118;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin-top: 3rem;
}

.social-media__facebook {
    color: inherit;
    transition: color .2s ease;
}

.social-media__facebook:hover {
    color: #D28E94;
}

main {
    grid-area: main;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.start__banner {
    display: block;
    height: 100%;
    min-height: 80svh;
    min-width: 100%;
    position: relative;
}

.start__banner div {
    position: absolute;
    min-height: 80svh;
    min-width: 100%;
}

.start__banner-img1 {
    animation: change-background 30s ease infinite forwards;
    background: no-repeat url('../assets/22.webp') center/cover;
    opacity: 1;
}

.start__banner-img2 {
    animation: change-background 30s ease 10s infinite forwards;
    background: no-repeat url('../assets/33.webp') center/cover;
    opacity: 0;
}

.start__banner-img3 {
    animation: change-background 30s ease 20s infinite forwards;
    background: no-repeat url('../assets/39.webp') center/cover;
    opacity: 0;
}

.start__text {
    display: grid;
    gap: 3rem;
    margin: 2rem;
}

.start__text h1 {
    color: #382118;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.start__text h2 {
    color: #382118;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.start__text div {
    display: grid;
    gap: 1rem;
}

.start__text ul,
.start__text ol {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.about-me {
    display: none;
    gap: 3rem;
    grid-template-columns: 2fr 3fr;
    min-height: 80svh;
    padding: 2rem;
}

.about-me__titles-and-photo {
    margin-left: 2rem;
    width: 80%;
}

.about-me__subtitle {
    margin-top: 3rem;
}

.about-me__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.about-me__portrait {
    border: 10px solid #d28e947a;
    width: min(300px, 100%);
}

.about-me__text {
    margin-right: min(5%, 5rem);
    margin-top: 8rem;
    text-align: justify;
}

.gallery {
    display: none;
    padding: 2rem;
}

.gallery__subtitle {
    margin-top: 3rem;
}

.gallery__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.gallery__images {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery__image {
    border: 10px solid #d28e947a;
    width: clamp(100px, 100%, 400px);
}

footer {
    background: #E6B596;
    display: flex;
    grid-area: footer;
    justify-content: center;
    min-height: 195px;
}

.footer-title {
    color: #382118;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
    letter-spacing: 2px;
    text-align: center;
}

@keyframes change-background {
    0% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

@media screen and (width < 600px) {

    body {
        grid-template: "main" auto
                       "footer" 1fr / 1fr;
    }

    .sidebar__mobile-menu {
        cursor: pointer;
        visibility: visible;
    }

    .sidebar {
        left: -600px;
        min-height: 100svh;
        position: absolute;
        width: 270px;
    }

    .show-sidebar {
        animation: show-sidebar 1s ease forwards;
    }

    .hide-sidebar {
        animation: hide-sidebar 1s ease forwards;
    }

    .logo {
        margin-bottom: 2rem;
        position: relative;
        float: right;
        width: 80%;
    }

    .contact-info__phone {
        font-size: 1.2rem;
    }

    .about-me {
        grid-template-columns: 1fr;
    }

    .about-me__text {
        margin-top: 1rem;
    }

    .gallery__images {
        grid-template-columns: 1fr;
    }

    @keyframes show-sidebar {
        0% {
            left: -600px;
        }

        100% {
            left: 0px;
        }
    }

    @keyframes hide-sidebar {
        0% {
            left: 0px;
        }

        100% {
            left: -600px;
        }
    }
}