* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Inter, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template: "sidebar main" auto
                   "sidebar footer" 1fr / 1fr 4fr;
}

.sidebar {
    background: linear-gradient(#FFF 35%, #E6B596);
    grid-area: sidebar;
}

.logo {
    width: 100%;
}

.navigation {
    margin: 3rem 3rem;
}

.navigation__list {
    list-style: none;
}

.navigation__element {
    color: #382118;
    font-size: 1.5rem;
    margin-top: 1rem;
    transition: font-weight 0.3s ease;
}

.navigation__element:hover {
    font-weight: 700;
}

.navigation__radio {
    display: none;
}

.navigation__radio:checked ~ label {
    color: #D28E94;
    font-weight: 700;
}

.navigation__label {
    cursor: pointer;
}

.contact-info {
    color: #382118;
    margin-left: 2rem;
}

.contact-info__phone {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-media {
    color: #382118;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin-top: 3rem;
}

.social-media__facebook {
    transition: color .2s ease;
}

.social-media__facebook:hover {
    color: #D28E94;
}

main {
    grid-area: main;
}

.start {
    animation: change-background 30s infinite ease;
    background: no-repeat url('../assets/22.webp') center/cover;
    min-height: 80svh;
    min-width: 100%;
}

.about-me {
    display: none;
    gap: 3rem;
    grid-template-columns: 2fr 3fr;
    min-height: 80svh;
    padding: 2rem;
}

.about-me__titles-and-photo {
    margin-left: 2rem;
    width: 80%;
}

.about-me__subtitle {
    margin-top: 3rem;
}

.about-me__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.about-me__portrait {
    border: 10px solid #d28e947a;
    width: min(300px, 100%);
}

.about-me__text {
    margin-right: min(5%, 5rem);
    margin-top: 8rem;
    text-align: justify;
}

footer {
    background: #E6B596;
    display: flex;
    grid-area: footer;
    justify-content: center;
    min-height: 180px;
}

.footer-title {
    color: #382118;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 10rem;
    margin-top: 2rem;
    letter-spacing: 2px;
}

@keyframes change-background {
    0% {
        background: no-repeat url('../assets/22.webp') center/cover;
    }

    10% {
        background: no-repeat url('../assets/22.webp') center/cover;
    }

    16% {
        background: no-repeat url('../assets/33.webp') center/cover;
    }

    46% {
        background: no-repeat url('../assets/33.webp') center/cover;
    }

    52% {
        background: no-repeat url('../assets/39.webp') center/cover;
    }

    80% {
        background: no-repeat url('../assets/39.webp') center/cover;
    }

    86% {
        background: no-repeat url('../assets/22.webp') center/cover;
    }

    100% {
        background: no-repeat url('../assets/22.webp') center/cover;
    }

}